html {
  height: 100%; }

body {
  background: #222 none;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }
  body .elementsContainer, body .space-bg, body .main-content, body .tesla-part {
    display: none; }
  body.loaded .loading {
    display: none; }
  body.loaded .elementsContainer, body.loaded .space-bg {
    display: inherit; }
  body.start-parallax .main-content, body.start-parallax .tesla-part {
    display: inherit;
    transform: translate3d(300%, 0, 0);
    overflow: hidden; }
  body.start-parallax .elementsContainer.introContainer {
    animation: parallax-animation-text 0.5s 1 normal ease-in forwards 0.5s;
    -webkit-animation: parallax-animation-text 0.5s 1 normal ease-in forwards 0.5s; }
  body.start-parallax .space-bg {
    animation: parallax-animation-bg 5s 1 normal ease-out forwards 0.5s;
    -webkit-animation: parallax-animation-bg 5s 1 normal ease-out forwards 0.5s; }
  body.start-parallax .main-content {
    animation: main-content-anim 1s 1 normal ease-in forwards 4.5s;
    -webkit-animation: main-content-anim 1s 1 normal ease-in forwards 4.5s; }

.space-bg {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0; }

.loading {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 30% auto 0 auto;
  display: inline-block;
  vertical-align: top; }
  .loading svg path,
  .loading svg rect {
    fill: #00bcff; }

.bm {
  background-color: transparent;
  width: 100px;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  margin-left: -35px;
  transition: border 0.5s ease; }
  .bm:nth-child(2), .bm:nth-child(3), .bm:nth-child(4), .bm:nth-child(5) {
    cursor: pointer; }

.clearer {
  clear: both;
  margin-left: 0;
  width: 100%;
  height: 0; }

.bm.italic {
  transform: translate3d(0, 0, 0) skewX(-10deg); }

.bm.underline {
  border-bottom: 5px solid #333333; }

.hoverer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bm.exit {
  opacity: 0; }

.bm.blinker.hidden {
  display: none; }

.main-content {
  width: 100%;
  height: 100%; }
  .main-content .para-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .main-content .para-bg > div {
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block; }
    .main-content .para-bg .para1 {
      background-image: url("../images/1.jpg"); }
    .main-content .para-bg .para2 {
      background-image: url("../images/2.jpg"); }
    .main-content .para-bg .para3 {
      background-image: url("../images/3.jpg"); }
    .main-content .para-bg .para4 {
      background-image: url("../images/4.jpg"); }
    .main-content .para-bg .para5 {
      background-image: url("../images/5.jpg"); }
    .main-content .para-bg .para6 {
      background-image: url("../images/6.jpg"); }
    .main-content .para-bg .para7 {
      background-image: url("../images/7.jpg"); }
    .main-content .para-bg .para8 {
      background-image: url("../images/8.jpg"); }
    .main-content .para-bg .para9 {
      background-image: url("../images/9.jpg"); }
    .main-content .para-bg .para10 {
      background-image: url("../images/10.jpg"); }
  .main-content .para-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-y: scroll; }
    .main-content .para-content p {
      width: 30%;
      margin-left: 10%;
      margin-top: 40%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #e4e4e4; }

@keyframes blink-animation {
  to {
    visibility: hidden; } }
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }
@keyframes parallax-animation-text {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-55%, -570%, 0); } }
@keyframes parallax-animation-bg {
  0% {
    transform: translate3d(0, 0, 0) scale(1); }
  90% {
    transform: translate3d(-195%, -450%, 0) scale(10); }
  100% {
    transform: translate3d(-300%, -450%, 0) scale(10); } }
@keyframes main-content-anim {
  0% {
    transform: translate3d(300%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
.elementsContainer {
  text-align: left;
  height: 120px;
  padding: 0 20px; }

@font-face {
  font-family: "Franchise";
  src: url("https://labs.nearpod.com/bodymovin/demo/franchise/fonts/Franchise-Bold.ttf") format("truetype"); }
.elementsContainer.introContainer {
  position: absolute;
  top: 40%; }

@media only screen and (max-width: 1100px) {
  .elementsContainer.introContainer {
    margin-top: -80px; }

  .bm {
    background-color: transparent;
    width: 100px;
    height: 120px; } }
@media only screen and (max-width: 800px) {
  .elementsContainer.introContainer {
    margin-top: -60px; }

  .bm {
    background-color: transparent;
    width: 60px;
    height: 80px; } }

/*# sourceMappingURL=index.css.map */
